{% extends 'base/base.html' %}
{% load static %}
{% block content %}
  <div class="card">
    <div class="card-header">
      Formulario para registrar Consultor
      </div>
    <div class="card-body">
      <form class="" action="" method="post" enctype="multipart/form-data" id="StudentRegistrationForm" data-locacion-url={% url 'cagar-locacion' %}>
        <div class="card">
          <div class="card-header">Información Academica</div>
          <div class="card-body">
            {% csrf_token %}
            {{ formulario_info_academica.as_p }}
          </div>
        </div>

        <div class="card">
          <div class="card-header">Información Personal</div>
          <div class="card-body">
            {% csrf_token %}
            {{ formulario_info_personal.as_p }}
          </div>
        </div>

        <div class="card">
          <div class="card-header">Datos del Domicilio</div>
          <div class="card-body">
            {% csrf_token %}
            {{ formulario_info_direccion_consultor.as_p }}
          </div>
        </div>

        <div class="card">
          <div class="card-header">Información de personal a Cargo (Supervisor/Tutor)</div>
          <div class="card-body">
            {% csrf_token %}
            {{ formulario_inf_defensa.as_p }}
          </div>
        </div>

        <div class="card">
          <div class="card-header">En caso de detalles de contacto de emergencia</div>
          <div class="card-body">
            {% csrf_token %}
            {{ formulario_de_detalles_de_contacto_de_emergencia.as_p }}
          </div>
        </div>

        <div class="card">
          <div class="card-header">Información Académica Previa</div>
          <div class="card-body">
            {% csrf_token %}
            {{ formulario_de_informacion_academica_anterior.as_p }}
          </div>
        </div>
        <div class="card">
          <div class="card-header">Certificado Académico Previo</div>
          <div class="card-body">
            {% csrf_token %}
            {{ formulario_de_certificado_academico_anterior.as_p }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Consultor</button>
      </form>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="{% static 'src/js/registration.js' %}"></script>
      <script src="{% static 'src/js/address.js' %}"></script>
    </div>
  </div>
{% endblock %}
