{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="row">
              <img style="height:100px; width:100px; border-radius:50%; margin:auto" src="{{ consultor.personal_info.photo.url }}" alt="Photo">
            </div>
          </div>
          <div class="card-body">
            <div class="address_information">
              <div class="row">
                <h2 class="mx-auto">Información Academica</h2>
              </div>
              <hr>
              <div class="row">
                <div style="font-size:24px; margin-left: 30px">
                  <pre>Proyecto             : {{ consultor.nombre_proyecto|title }}</pre>
                  <pre>Número de Registro   : {{ consultor.numero_registro }}</pre>
                  <pre>Estado            : {{ consultor.estado|title }}</pre>
                  <pre>Fecha de Registro : {{ consultor.date }}</pre>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ forms.as_p }}
                <input class="btn btn-primary" type="submit" value="Enroll">
            </form>
        </div>
        </div>
      </div>
    </div>
{% endblock %}