{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header">Formulario de registro de Asuntos</div>
    <div class="card-body">
      <form class="" action="" method="post">
        <div class="card">
          <div class="card-header">Información del asunto</div>
          <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Agregar Asunto</button>
      </form>
    </div>
  </div>
{% endblock %}
