{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header"><i class="fa fa-align-justify"></i>Selecionar Proyecto</div>
    <div class="card-body">
      <form class="" action="" method="get">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <button type="submit" class="btn btn-primary">Go To Subject List</button> -->
        <input class="btn btn-success" type="submit" value="Submit" />
      </form>
    </div>
  </div>
  {% if asunto %}
  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Lista de Proyectos</div>
      <div class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Nombre del asunto</th>
                      <th>Código del asunto</th>
                      <th>Marcas</th>
                      <th>Notas de aprobación</th>
                      <th>Comportamiento</th>
                  </tr>
              </thead>
              <tbody>
                  {% for sub in asunto %}
                    <tr>
                        <td>{{ sub.id }}</td>
                        <td>{{ sub.nombre_asunto }}</td>
                        <td>{{ sub.codigo_asunto }}</td>
                        <td>{{ sub.marcas }}</td>
                        <td>{{ sub.aprobado }}</td>
                        <td>
                          <a class="btn btn-success" title="Add Subject" href="{% url 'mark-tablero' sub.nombre_asunto %}">
                              <i class="fa fa-search-plus"></i>
                          </a>
                          <a class="btn btn-info" title="View Subject List" href="">
                              <i class="fa fa-eye"></i>
                          </a>
                        </td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
  {% endif %}
{% endblock %}
