{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header"><i class="fa fa-align-justify"></i>Seleccionar Proyecto</div>
    <div class="card-body">
      <form class="" action="" method="get">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Ir a la lista de Asuntos</button>
      </form>
    </div>
  </div>
  {% if consultor %}
  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Lista de Proyectos</div>
      <div class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Nombre</th>
                      <th>Rol</th>
                      <th>Proyecto</th>
                      <th>Notas de aprobación</th>
                      <th>Comportamiento</th>
                  </tr>
              </thead>
              <tbody>
                  {% for std in consultor %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ std.personal_info.nombre }}</td>
                        <td>{{ std.roll }}</td>
                        <td>{{ std.proyecto_info }}</td>
                        <td>{{ forloop.counter }}</td>
                        <td>
                          <a class="btn btn-success" title="Add Subject" href="">
                              <i class="fa fa-search-plus"></i>
                          </a>
                          <a class="btn btn-info" title="View Subject List" href="">
                              <i class="fa fa-eye"></i>
                          </a>
                        </td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
  {% endif %}
{% endblock %}
