{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header">Registrar proyecto Form</div>
    <div class="card-body">
      <form class="" action="" method="post">
        {% csrf_token %}
        
        {{ forms.as_p }}
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Lista de Proyectos</div>
      <div class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Nombre Proyecto</th>
                      <th>Nombre para mostrar</th>
                      <th>Fecha de Registro</th>
                  </tr>
              </thead>
              <tbody>
                  {% for class_obj in class_obj %}
                    <tr>
                        <td>{{ class_obj.id }}</td>
                        <td>{{ class_obj.name|title }}</td>
                        <td>{{ class_obj.display_name|title }}</td>
                        <td>{{ class_obj.date }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
{% endblock %}
