{% extends 'base/base.html' %}
{% block content %}
  <div class="card">
    <div class="card-header">Formulario para registrar Gerente</div>
    <div class="card-body">
      <form class="" action="" method="post">
        {% csrf_token %}
        {{ forms.as_p }}
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
          <i class="fa fa-align-justify"></i>Lista de guías de gerentes </div>
      <div class="card-body">
          <table class="table table-responsive-sm">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Nombre de la Guía del Gerente</th>
                      <th>Registrar Fecha</th>
                  </tr>
              </thead>
              <tbody>
                  {% for gt in guia_gerente %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ gt.nombre }}</td>
                        <td>{{ gt.date }}</td>
                    </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
{% endblock %}
