<option value="">---------</option>
{% for locacion in locacion %}
<option value="{{ locacion.pk }}">{{ locacion.nombre }}</option>
{% endfor %}
{% for anexo in anexo %}
<option value="{{ anexo.pk }}">{{ anexo.nombre }}</option>
{% endfor %}
